.days_information {
  text-align: center;

  margin-bottom: 50px;
}

.day_list {
  display: flex;
  justify-content: center;
}

.day_item {
  margin-right: 133px;
}
.day_item:last-child {
  margin-right: 0;
}
.day_item__title {
  font-weight: 500;
  font-size: 40px;
  line-height: 54px;

  margin-bottom: 24px;
}

.day_item__info{
  display: flex;
  flex-direction: column;
}

.day_item__info_item {
  font-weight: 400;
  font-size: 32px;
  line-height: 43px;

  margin-bottom: 5px;
}

.day_item__info_item:last-child{
  margin-bottom: 0;
}

.day_item__link{
    color: #ff8562;
    text-decoration: underline;
}

@media (max-width: 1199px) {
  .day_item {
    margin-right: 90px;
  }
  .day_item__title {
    font-weight: 500;
    font-size: 32px;
    line-height: 43px;

    margin-bottom: 18px;
  }
  .day_item__info_item {
    font-size: 24px;
    line-height: 32px;
  }
}

@media (max-width: 767px) {
    .day_list{
        flex-direction: column;
    }
    .day_item{
        margin-right: 0;
        margin-bottom: 15px;
    }
    .day_item__title{
        font-size: 24px;
        line-height: 32px;

        margin-bottom: 9px;
    }
    .day_item__info_item{
        font-size: 20px;
        line-height: 27px;
    }
}